certifi
charset-normalizer
coloredlogs
darkdetect
decorator
EasyProcess
entrypoint2
flatbuffers
humanfriendly
idna
keyboard
MouseInfo
mpmath
mss
numpy
onnxruntime
opencv-python
packaging
Pillow
ppocr-onnx
protobuf
PyAutoGUI
pyclipper
PyGetWindow
PyMsgBox
pyperclip
pyreadline3
PyRect
pyscreenshot
PyScreeze
PySide6
PySide6-Addons
PySide6-Essentials
PySide6-Fluent-Widgets
PySideSix-Frameless-Window
pytweening
pyuac
pywin32
requests
shapely
shiboken6
sympy
tee
urllib3
pynput
plyer
winotify